

.App {
  text-align: center;

}

/* body {
  color: black;
  background: #fff !important;
  font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif !important;
  font-size: 15px !important;
  font-weight: 350;
} */

